<!DOCTYPE html>
<html>
  <head>
    <title>Webapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </head>

  <body>
  	<div class="container">
  		<nav class="navbar navbar-default">
  			<ul class="nav navbar-nav">
  				<li><a> Home </a></li>
  				<li><a> Albums </a></li>
  				<li><a> Blog </a></li>	
  				<li><a> About </a></li>
  			</ul>
  			<nav class="nav navbar-nav navbar-right" style="margin-right: 5px;">
  				<li><a> Login </a></li>
  				<li><a> Sign Up </a></li>
  			</nav>
  		</nav>
  		
			<div class="row">
			  <div class="col-sm-2">
			    <div class="sidebar-nav">

			          <ul class="nav navbar-nav">
			            <li class="active"><a href="#">Menu Item 1</a></li>
			            <li><a href="#">Menu Item 2</a></li>
			            <li><a href="#">Menu Item 3</a></li>
			            <li><a href="#">Menu Item 4</a></li>
			          </ul>
			      
			    </div>
			  </div>
			  <div class="col-sm-9">
			  	<%= yield %>
			  </div>
			</div>
		
  </body>
</html>
